<article class='post'>

  <img
    src='{{image}}'
    alt=''
  />
  <div class='title'>
    {{!-- <button id='vote-btn' class="upvote-btn vote ">Vote
      <i class='fas fa-chevron-circle-up fa-1x'></i>
      </button> --}}
    <a href='/post/{{id}}'><h1>{{name}}</h1></a>
    <span class="pet-type">&nbsp;&nbsp;({{pet_type}})</span>
    <div class='meta votes'>
      {{vote_count}}
      {{format_plural 'vote' vote_count}}

    </div>
    <div>
      <span class="comment-by">Uploaded by
      {{user.username}}
      on
      {{format_date created_at}}
    |</span>
    <a href='/post/{{id}}'>{{comments.length}}
      {{format_plural 'comment' comments.length}}</a>
  </div>

</article>

{{!-- {{#if loggedIn}}
  <script src='/js/upvote.js'></script>
{{/if}} --}}